<!DOCTYPE html>
<html>
<head>
  <title>New</title>
</head>
<body>
  <h1>Add a New Harley</h1>
  <main>
    <form action="/harleys" method="POST">
      <input type="text" name="model" placeholder="Model"><br>
      <input type="text" name="engine" placeholder="Engine"><br>
      <input type="number" name="torque" placeholder="Torque"><br>
      <input type="number" name="weight" placeholder="Weight"><br>
      <input type="submit">
    </form>
  </main>
</body>
</html>